@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;400;500;700&display=swap');

*{
	font-family: 'Noto Sans KR'
}

.avatar-sm{
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

.jumbotron {
	background-image: url('/resources/images/back.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: black;
}

a.page-link {
	border-width: 0px;
}

.error {
	color: red;
	font-size: 0.9rem;
}