<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.galapagos.mapper.TravelMapper">

	<select id="getTotalCount" resultType="int">
		select count(*) from view_travel
		<where>
			<include refid="criteria"></include>
		</where>
	</select>
	
	<select id="getList" resultType="TravelVO">
		select * from view_travel
		<where>
			<include refid="criteria"></include>
		</where>
		order by region, title desc
		limit #{offset}, #{amount}
	</select>
	
	<select id="read" resultType="org.galapagos.domain.TravelVO">
		select * from view_travel
		where no = #{no} <!-- PK. 매개변수 primitive 값 1개 (이름 상관없음. bno 아니어도 됨) -->
	</select>
	
	<insert id="insert">
		insert into travel (title, description, region, address, phone)
		values (#{title}, #{description}, #{region}, #{address}, #{phone})
		
		<selectKey resultType= "Long" keyProperty="no" keyColumn="no" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	<update id="update">
		update travel set
			title = #{title},
			description = #{description},
			address = #{address},
			phone = #{phone}
		where no = #{no}
	</update>
	
	<delete id="delete">
		delete from travel where no= #{no} <!-- PK. 매개변수 primitive 값 1개 (이름 상관없음. no 아니어도 됨) -->
	</delete>

	<sql id="criteria"> <!-- 중복 SQL 구문 분리, id 지정 -->
		<trim prefixOverrides = "OR">
			<foreach item = "type" collection="typeArr">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like CONCAT('%',#{keyword},'%')
						</when>
						<when test="type == 'D'.toString()">
							description like CONCAT('%',#{keyword},'%')
						</when>
						<when test="type == 'R'.toString()">
							region like CONCAT('%',#{keyword},'%')
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>	
	</sql>
	
	<select id="getRandom" resultType="TravelVO">
		select * from view_travel
		order by rand()
		limit #{count};
	</select>
	
	<!-- 좋아요 처리 관련 -->
	<select id = "getHeartsList" resultType = "long">
		select tno from tbl_travel_heart
		where username = #{username}
	</select>
	
	<insert id = "addHeart">
		insert into tbl_travel_heart(tno, username)
		values (#{tno}, #{username})
	</insert>
	
	<delete id = "deleteHeart">
		delete from tbl_travel_heart
		wherer tno = #{tno} and username = #{username}
	</delete>
</mapper>