<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.galapagos.mapper.MemberMapper">
	<resultMap id = "authMap" type="org.galapagos.domain.AuthVO">
		<result property="username" column="username" />
		<result property="auth" column="auth" />
	</resultMap>

	<resultMap id="memberMap" type="org.galapagos.domain.MemberVO">
		<id property="username" column="username" />
		<result property="username" column="username" />
		<result property="password" column="password" />
		<result property="email" column="email" />
		<result property="regDate" column="reg_date" />
		<result property="updateDate" column="update_date" />
		<collection property="authList" resultMap="authMap" /> <!-- List 처리. 위의 resultMap에 삽입됨 -->
	</resultMap>

	<select id = "read" resultMap="memberMap">
		select m.username, password, email, reg_date, update_date, auth
		from tbl_member m left outer join tbl_member_auth a
			on m.username = a.username
		where m.username = #{username}
	</select>
	
	<insert id = "insert">
		insert into tbl_member(username, password, email)
		values(#{username}, #{password}, #{email})
	</insert>
	
	<insert id = "insertAuth">
		insert into tbl_member_auth(username, auth)
		values(#{username}, #{auth})
	</insert>
	
	<update id = "update">
		update tbl_member set
			password = #{password},
			email = #{email}
		where username = #{username}
	</update>
	
	<update id = "updateAuth">
		update tbl_member_auth set
			auth = #{auth}
		where username = #{username}
	</update>
</mapper>